body {
	background: #3498db;
	font-family: Roboto;
}
.hidden {
	left: -9999px;
	position: absolute;
}
#mainBox {
	background: #ededed;
	width: 450px; height: 770px;
	padding: 30px;
      -webkit-box-shadow: 0px 5px 5px -0px rgba(0,0,0,0.3);
         -moz-box-shadow: 0px 5px 5px -0px rgba(0,0,0,0.3);
              box-shadow: 0px 5px 5px -0px rgba(0,0,0,0.3);
}
.headerImage {
	margin: 25px;
	margin-bottom: 80px;
}
.price {
	box-shadow: #3498db 0 0 1px 1px;
	background: #3498db;
	color: #fff;
	font-size: 1.2em;
    font-family: Verdana;
	border: none;
	/*background: linear-gradient(to bottom, #fafafa, #eaeaea);
      -webkit-box-shadow: 0px 2px 2px -0px rgba(0,0,0,0.3);
         -moz-box-shadow: 0px 2px 2px -0px rgba(0,0,0,0.3);
              box-shadow: 0px 2px 2px -0px rgba(0,0,0,0.3);*/
	border-radius: 40px;
	text-align: center;
	width: 300px;
	height: 50px;
	margin: 40px 80px;
	padding-top: 20px;
}
.mainButton {
	box-shadow: #3498db 0 0 1px 1px;
	background: #ededed;
	color: #7e7e7e;
	font-size: 3em;
	border: none;
	/*background: linear-gradient(to bottom, #fafafa, #eaeaea);
      -webkit-box-shadow: 0px 2px 2px -0px rgba(0,0,0,0.3);
         -moz-box-shadow: 0px 2px 2px -0px rgba(0,0,0,0.3);
              box-shadow: 0px 2px 2px -0px rgba(0,0,0,0.3);*/
	border-radius: 30px;
	text-align: center;
	width: 415px;
	height: 110px;
	margin: 7px 20px;
	padding: 0;
}
.mainButton:hover {
	box-shadow: #3498db 0 0 1px 1px;
}
.mainButton:active {
 	background: #3498db;
	color: #fff;
}